*.pyc
/.vscode/*
/out
/presentations/*
!/presentations/.gitkeep
/services/*
!/services/.gitkeep
/videos/*
!/videos/.gitkeep
/loops/*
!/loops/.gitkeep
/backgrounds/*
!/backgrounds/.gitkeep
!/backgrounds/thumbnails/
/backgrounds/thumbnails/*
!/backgrounds/thumbnails/.gitkeep