*.pyc
/.vscode/*
/out
/test_out
/updater_files
/presentations/*
!/presentations/.gitkeep
/services/*
!/services/.gitkeep
/videos/*
!/videos/.gitkeep
/loops/*
!/loops/.gitkeep
/backgrounds/*
!/backgrounds/.gitkeep
!/backgrounds/thumbnails/
/backgrounds/thumbnails/*
!/backgrounds/thumbnails/.gitkeep
/audio/*
!/audio/.gitkeep
/logs/*
!/logs/.gitkeep
/data/*.sqlite
!/data/songs.sqlite
!/data/ADB.sqlite
!/data/ASV.sqlite
!/data/KJV.sqlite
!/data/KUL.sqlite
sha.txt
/private