body {
  margin: 0;
  overflow: hidden;
  background-color: #f9f9f9;
  line-height: 1.3;
  font-size: 1em;
  font-family: sans-serif;
}

input {
  line-height: 1.3;
  font-size: 1em;
  font-family: sans-serif;
}

#main_area {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
}

#screen_view {
  margin-top: 8px;
  width: 70%;
  padding-bottom: 50%;
  position: relative;
  left: 15%;
}

#screen_iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

#item_area {
  width: 50vw;
  height: 100vh;
  float: left;
}

#current_item {
  overflow-y: scroll;
}

#current_item_icon {
  max-width: 1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

#elements_area {
  width: 50vw;
  height: 100vh;
  float: left;
  border: 1px solid #c5c5c5;
  background: #fff;
}

#elements_header {
  padding-left: 0.25em;
  padding-right: 0.25em;
  padding-top: 0.25em;
  background-color: #eee;
  display: flex;
  gap: 0.25em;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.element_panel {
  display: block;
  padding: 1em 1.4em;
  border-width: 0;
  background: none;
}

.element_button {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  width: 3.25em;
  height: 2.75em;
  border: 1px solid #ccc;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #f6f6f6;
}

.element_button:hover {
  background-color: #e8e8e8;
}

.element_button.active_element {
  background-color: gold;
}

.element_icon {
  height: 24px;
  width: 24px;
}

#service_element {
  display: block;
  overflow-y: scroll;
  height: calc(-5em + 100vh);
}

#song_element,
#bible_element,
#presentation_element,
#video_element,
#backgrounds_element,
#styles_element,
#updater_element {
  display: none;
  overflow-y: scroll;
  height: calc(-5em + 100vh);
}

#e_lyrics {
  height: 375px;
  font-size: 0.9rem;
  font-family: "Courier New", Courier, monospace;
}

#current_item_list div.ml_text sup {
  padding-right: 0.5em;
  font-size: 0.75em;
}

#current_item_list div.ml_text.selected {
  background-color: gold !important;
}

.style_header {
  background-color: #f6f6f6;
  margin: 0;
  border-radius: 5px;
  margin-bottom: 5px;
}

.style_header_expanded {
  margin-bottom: 0;
}

.style_header .sl_text {
  border-bottom-left-radius: 5px;
  cursor: default;
}

.style_header_expanded .sl_text {
  border-bottom-left-radius: 0px;
}

.style_header .sl_button {
  border-bottom-right-radius: 5px;
}

.style_header_expanded .sl_button {
  border-bottom-right-radius: 0px;
  border-left-width: 0px;
  cursor: default;
}

.style_header_expanded .sl_button:hover {
  background-color: #f6f6f6;
}

.style_header_expanded .sl_button::after {
  display: none;
}

.style_group {
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-top: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-bottom: 5px;
  display: none;
}

.style_group_expanded {
  display: block;
}

#item_header {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  display: flex;
  align-items: center;
}

#video_controls,
#audio_controls,
#presentation_controls {
  padding-left: 1em;
  padding-right: 1em;
  display: none;
}

#bible_controls {
  padding-left: 1em;
  padding-right: 1em;
  display: none;
}

#bible_controls .radio_toggle_group {
  justify-content: right;
}

#bible_controls .radio_toggle_group input + label {
  height: 2em;
}

#bible_controls span {
  padding-right: 1em;
  font-size: 0.85rem;
}

#b_main_version_radios {
  padding-bottom: 0.5em;
}
#b_alt_version_radios {
  padding-bottom: 1em;
}

.playback_buttons {
  display: flex;
  gap: 0.5em;
  align-content: center;
  text-align: center;
  padding-bottom: 0.5em;
}

#current_item_list_div {
  padding: 0px 10px 10px 10px;
}

.song_bible_area {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5em;
}

.song_bible_button {
  width: 45%;
}

#popup_save_service_as .popup_header,
#popup_export_service_as .popup_header,
#popup_load_service .popup_header,
#popup_attach_audio .popup_header {
  min-width: 400px;
}

.ml_list > .ml_row:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.ml_list > .ml_row:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.ml_list > .ml_row:first-child > :first-child {
  border-top-left-radius: 5px;
}

.ml_list > .ml_row:first-child > :last-child {
  border-top-right-radius: 5px;
}

.ml_list > .ml_row:last-child > :first-child {
  border-bottom-left-radius: 5px;
}

.ml_list > .ml_row:last-child > :last-child {
  border-bottom-right-radius: 5px;
}

.ml_list > .ml_row:last-child * {
  border-bottom-width: 1px;
}

.ml_row > :last-child {
  border-right-width: 1px;
}

.ml_list {
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}

.ml_row {
  background-color: #f6f6f6;
  border-color: #ddd;
  color: #333;
  cursor: pointer;
  box-sizing: border-box;
  height: 2.75em;
  display: flex;
}

.ml_row:nth-child(2n) {
  background-color: #f0f0f0;
}

.ml_row.selected {
  background-color: #38c;
  color: white;
}

.ml_row.selected .ml_text {
  text-shadow: 0 1px 0 rgb(0, 85, 153);
}

.ml_row.selected:nth-child(2n) {
  background-color: #2b74ad;
}

.ml_row.selected:nth-child(2n) .ml_text {
  text-shadow: 0 1px 0 #004882;
}

.ml_expand_row {
  height: fit-content;
}

.ml_row > img {
  user-select: none;
  border-color: #ddd;
  border-width: 1px 0 0 1px;
  border-style: solid;
}

#song_list .ml_row:hover,
#recycle_bin .ml_row:hover,
#presentation_list .ml_row:hover,
#video_list .ml_row:hover,
#loop_list .ml_row:hover,
#background_list .ml_row:hover {
  background-color: gold;
}

#song_list .ml_button:hover,
#recycle_bin .ml_button:hover,
#presentation_list .ml_button:hover,
#video_list .ml_button:hover,
#loop_list .ml_button:hover,
#background_list .ml_button:hover {
  background-color: gold;
}

.ml_button {
  display: inline-block;
  border-color: #ddd;
  border-width: 1px 0 0 1px;
  border-style: solid;
  height: 2.75em;
  flex: 0 0 2.5em;
  box-sizing: border-box;
}

.ml_button:hover {
  background-color: #ededed;
}

.ml_button:active {
  background-color: #e8e8e8;
}

.sl_button {
  display: inline-block;
  border-color: #ddd;
  border-width: 1px 0 1px 1px;
  border-style: solid;
  height: 2.75em;
  flex: 0 0 2.5em;
  box-sizing: border-box;
  border-top-right-radius: 5px;
}

.sl_button:hover {
  background-color: #ededed;
}

.sl_button:active {
  background-color: #e8e8e8;
}

.ml_check_div,
.ml_radio_div {
  display: inline-block;
  border-color: #ddd;
  border-width: 1px 0 0 1px;
  border-style: solid;
  box-sizing: border-box;
  padding: 0.25em;
}

.ml_radio_div {
  padding-top: 0.6em;
  padding-right: 0.4em;
}

.ml_text {
  display: inline-block;
  padding: 0.7em 1em;
  border-color: #ddd;
  border-width: 1px 0 0 1px;
  border-style: solid;
  height: 2.75em;
  text-shadow: 0 1px 0 #f3f3f3;
  font-size: 16px;
  min-height: 1.25em;
  user-select: none;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-weight: 700;
  box-sizing: border-box;
  flex-grow: 100;
}

.sl_text {
  display: inline-block;
  padding: 0.7em 1em;
  border-color: #ddd;
  border-width: 1px 0 1px 1px;
  border-style: solid;
  height: 2.75em;
  text-shadow: 0 1px 0 #f3f3f3;
  font-size: 16px;
  min-height: 1.25em;
  user-select: none;
  font-weight: 700;
  box-sizing: border-box;
  flex-grow: 100;
  border-top-left-radius: 5px;
}

.ml_multitext {
  font-size: 0.75em;
  font-weight: 400;
  padding: 0 1em;
  height: fit-content;
  white-space: normal;
}

span.ml_songpart {
  margin-left: -2em;
  display: block;
  float: left;
  width: 2em;
  font-weight: 700;
}

p.ml_songlyric {
  padding-left: 2em;
  white-space: normal;
}

p.ml_bibleverse {
  white-space: normal;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.ml_small_icon {
  width: 16px;
  height: 16px;
  padding-right: 5px;
}

.ml_drag_icon {
  width: 16px;
  height: 16px;
  padding-right: 5px;
  display: inline;
}

.ml_icon::after {
  content: "";
  background-repeat: no-repeat;
  background-position: 50% 50%;
  display: block;
  width: 2.5em;
  height: 2.75em;
}

.ml_icon_display::after {
  background-image: url("/html/icons/icons8-go-back-32.png");
}

.ml_icon_minus::after {
  background-image: url("/html/icons/icons8-minus-24.png");
}

.ml_icon_plus::after {
  background-image: url("/html/icons/icons8-plus-24.png");
}

.ml_icon_dots::after {
  background-image: url("/html/icons/icons8-menu-vertical-24.png");
}

.ml_icon_song::after {
  background-image: url("/html/icons/icons8-musical-notes-24.png");
}

.ml_icon_bible::after {
  background-image: url("/html/icons/icons8-literature-24.png");
}

.ml_icon_edit::after {
  background-image: url("/html/icons/icons8-amendment-32.png");
}

.ml_icon_undo::after {
  background-image: url("/html/icons/icons8-undo-24.png");
}

.refresh_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button_inline_text {
  display: flex;
  align-items: center;
  height: 2.75em;
  font-size: 16px;
  font-weight: 700;
  text-shadow: 0 1px 0 #f3f3f3;
}

.cmd_button {
  display: flex;
  gap: 0.5em;
  align-items: center;
  height: 2.75em;
  background-color: #f6f6f6;
  border-color: #ddd;
  color: #333;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 700;
  text-shadow: 0 1px 0 #f3f3f3;
  cursor: pointer;
}

.cmd_button:hover {
  background-color: #ededed;
}

.cmd_button:active {
  background-color: #e8e8e8;
}

.small_button {
  width: fit-content;
  font-size: 12.8px;
  padding: 1em;
}

.icon_button::after {
  content: "";
  background-repeat: no-repeat;
  background-position: 50% 50%;
  display: block;
  width: 100%;
  height: 100%;
}

.refresh_icon {
  width: 25%;
}

.refresh_icon::after {
  background-image: url("/html/icons/icons8-synchronize-24.png");
}

.play_icon,
.pause_icon,
.stop_icon {
  width: 4em;
}

.play_icon::after {
  background-image: url("/html/icons/icons8-play-48.png");
}

.pause_icon::after {
  background-image: url("/html/icons/icons8-pause-48.png");
}

.stop_icon::after {
  background-image: url("/html/icons/icons8-stop-48.png");
}

.full_button {
  justify-content: center;
  width: 100%;
  margin: 0.5em 0;
}

#create_song_btn {
  justify-content: center;
  width: 11em;
}

#import_presentation_btn,
#import_background_btn {
  justify-content: center;
  width: 14em;
}

#import_video_btn,
#import_loop_btn {
  justify-content: center;
  width: 11em;
}

#service_menu {
  display: flex;
  column-gap: 5px;
  justify-content: space-between;
}

.menu_button {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

#countdown_control {
  display: flex;
  gap: 10px;
  margin-top: 1em;
}

#cd_time {
  font-size: 13px;
  width: 5em;
}

.mi_textinput {
  border-color: #ddd;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  padding-left: 0.5em;
}

.mi_textinput_join_right {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.join_column_right {
  margin-right: -0.5em;
}

.mi_textinput:focus-visible {
  box-shadow: 0 0 12px #38c;
  border-color: #38c;
  outline: none;
}

.popup_wrapper .mi_textinput {
  height: 2em;
  margin-bottom: 1em;
}

.popup_wrapper p {
  margin: 0;
}

.radio_toggle_group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.radio_toggle_group input {
  appearance: none;
  margin: 0;
}

.radio_toggle_group input + label {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
  border-color: #ddd;
  color: #333;
  border-width: 1px;
  border-style: solid;
  box-sizing: border-box;
  font-weight: 700;
  text-shadow: 0 1px 0 #f3f3f3;
  font-size: 13px;
  padding: 1em;
  margin: 0;
  height: 2.75em;
  cursor: pointer;
}

.radio_toggle_group input:hover + label {
  background-color: #ededed;
}

.radio_toggle_group input:checked + label {
  background-color: #38c;
  color: white;
  text-shadow: 0 1px 0 rgb(0, 85, 153);
}

.radio_toggle_group input:first-of-type + label {
  border-radius: 5px 0 0 5px;
  border-right-width: 0;
}

.radio_toggle_group input:last-of-type + label {
  border-radius: 0 5px 5px 0;
}

.mi_range {
  position: relative;
  display: flex;
  gap: 1em;
  align-items: center;
  margin-top: 1.5em;
}

.mi_range_compact {
  margin-top: 0;
}

.mi_range input[type="range"] {
  display: flex;
  flex-grow: 1;
  appearance: none;
  -webkit-appearance: none;
  height: 2.75em;
  box-sizing: border-box;
  padding-left: 1em;
  cursor: pointer;
}

.mi_range input[type="range"]::-moz-range-thumb {
  height: 1.5em;
  width: 1.75em;
  border-radius: 5px;
  background-color: #f6f6f6;
  border: 1px solid #ccc;
}

.mi_range input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 1.5em;
  width: 1.75em;
  border-radius: 5px;
  background-color: #38c;
  border: 1px solid #38c;
  margin-top: -0.375em;
}

.mi_range input[type="range"]::-moz-range-progress {
  background-color: #38c;
  border-radius: 5px;
  border: 1px solid #38c;
  height: 0.75em;
}

.mi_range input[type="range"]::-webkit-progress-bar {
  background-color: #38c;
  border-radius: 5px;
  border: 1px solid #38c;
  height: 0.75em;
}

.mi_range input[type="range"]::-moz-range-track {
  appearance: none;
  -webkit-appearance: none;
  background-color: #e8e8e8;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 0.75em;
}

.mi_range input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  background-color: #e8e8e8;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 0.75em;
}

.mi_range output {
  width: 2em;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  margin-right: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.2em;
  background-color: #f6f6f6;
  cursor: default;
}

.mi_range label {
  position: absolute;
  top: -1em;
}

#countdown_h_text_input,
#t_color_picker {
  display: flex;
  height: 2.75em;
  align-items: center;
  justify-content: left;
  gap: 1em;
}

#t_color_picker {
  margin-bottom: 0.5em;
}

#countdown_h_text_input label,
#t_color_picker label {
  margin: 0;
}

#countdown_h_text_input input,
#t_color_picker input {
  flex-grow: 1;
  height: 2em;
}

#rgb_container {
  display: flex;
  flex-direction: row;
  padding-bottom: 1em;
}

#rgb_sliders {
  width: 75%;
  display: flex;
  flex-direction: column;
}

#rgb_preview_panel {
  width: 25%;
  display: flex;
  flex-direction: column;
}

#tc_preview {
  flex-grow: 1;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  border-color: #ccc;
  margin: 5px 0px;
}

#tc_save {
  justify-content: center;
  width: 100%;
  text-align: center;
}

.mi_toggle_div {
  display: flex;
  align-items: center;
  gap: 1em;
  padding-bottom: 0.5em;
  box-sizing: border-box;
}

.mi_toggle {
  position: relative;
  box-sizing: border-box;
}

.mi_toggle input {
  appearance: none;
  width: 6em;
  height: 2em;
  border: 1px solid #ccc;
  background-color: #f6f6f6;
  border-radius: 5px;
  cursor: pointer;
  margin: 0;
}

.mi_toggle input[name="flip_screen_state"] {
  width: 11em;
}

.mi_toggle input::after {
  content: "Off";
  position: relative;
  top: 0.3em;
  left: 3.5em;
  font-weight: 700;
  font-size: 16px;
  color: #333;
}

.mi_toggle input[name="flip_screen_state"]::after {
  content: "Screen OFF";
  left: 3em;
}

.mi_toggle input:checked::after {
  content: "On";
  left: 1em;
  color: white;
  text-shadow: 0 1px 0 rgb(0, 85, 153);
}

.mi_toggle input[name="flip_screen_state"]:checked::after {
  content: "Screen ON";
  left: 1.75em;
}

.mi_toggle input:checked {
  background-color: #38c;
}

.mi_toggle output {
  position: absolute;
  width: 1.5em;
  height: 1.5em;
  top: 0.25em;
  left: 0.25em;
  border-color: #ccc;
  background-color: #ccc;
  border-radius: 5px;
}

.mi_toggle input:checked + output {
  left: 4.25em;
  background-color: #f6f6f6;
  border-color: #e8e8e8;
}

.mi_toggle input[name="flip_screen_state"]:checked + output {
  left: 9.25em;
}

#time_seek {
  width: 100%;
  appearance: none;
  -webkit-appearance: none;
  height: 1em;
  box-sizing: border-box;
  border: 1px solid #ddd;
  background-color: #f6f6f6;
  margin-bottom: 0.5em;
}

#time_seek::-webkit-progress-bar {
  border: 1px solid #ddd;
  background-color: #f6f6f6;
}

#time_seek::-moz-progress-bar {
  background-color: #38c;
  border-radius: 1px solid #38c;
}

#time_seek::-webkit-progress-value {
  background-color: #38c;
  border: 1px solid #38c;
}

.search_div {
  display: flex;
  gap: 0.5em;
  margin-bottom: 0.5em;
}

#song_search,
#bible_search {
  flex-grow: 1;
}

#bible_search_options {
  display: flex;
  gap: 0.5em;
  margin-bottom: 0.5em;
  align-items: center;
}

.restore_button {
  width: 10em;
  justify-content: center;
}

#o_style_div,
#d_version_radios {
  justify-content: left;
}

#o_style_div span,
#d_version_radios span {
  padding-right: 1em;
}

#d_version_radios {
  padding-bottom: 1em;
}

#popup_edit_song {
  display: none;
}

#popup_edit_song .mi_textinput {
  height: 2em;
  margin-bottom: 0;
}

#popup_new_service,
#popup_load_service,
#popup_save_before_load_service,
#popup_save_service_as,
#popup_export_service_as,
#popup_attach_audio,
#popup_confirm_delete_song,
#popup_confirm_empty_bin {
  display: none;
}

#e_key_div {
  justify-content: left;
}

.btn_join_left {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.btn_join_right {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.popup_wrapper {
  position: absolute;
  flex-direction: column;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  color: #333;
  z-index: 100;
}

.popup_header {
  background-color: #e9e9e9;
  border: 1px solid #ddd;
  height: 2.75em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  text-shadow: 0 1px 0 #eee;
}

.popup_h_content {
  display: flex;
}

.popup_panel {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 0.5em;
  padding: 1em;
}

.popup_v_spacer {
  flex-grow: 1;
  background-color: #333;
}

.popup_h_spacer {
  flex-grow: 1;
  background-color: #333;
}

.popup_row {
  display: flex;
  gap: 0.5em;
}

.popup_baseline_row {
  display: flex;
  gap: 0.5em;
  align-items: baseline;
}

.popup_column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 0.5em;
}

.popup_column_no_grow {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.popup_buttons {
  display: flex;
  flex-grow: 1;
  justify-content: end;
  gap: 1em;
}

.dialog_button {
  width: 8em;
}

.mi_textarea {
  border-color: #ddd;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  padding-left: 0.5em;
  padding-top: 0.5em;
}

.mi_textarea:focus-visible {
  box-shadow: 0 0 12px #38c;
  border-color: #38c;
  outline: none;
}

/* Modified from https://stackoverflow.com/a/26916345 */
[data-tooltip] {
  cursor: pointer;
}

[data-tooltip]:hover:before {
  position: absolute;
  margin-top: 1.5em;
  z-index: 1000;
  content: attr(data-tooltip);
  white-space: pre-wrap;
  background-color: #ffeb80;
  border: solid 1px gold;
  border-radius: 5px;
  padding: 1em;
}

.help_icon {
  height: 1em;
  width: 1em;
  display: inline-block;
}

#fill_editor {
  display: inline-flex;
  font-family: monospace;
  height: 100px;
  overflow: hidden;
}

#e_fills {
  font-size: 0.9rem;
  font-family: "Courier New", Courier, monospace;
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#e_fills:focus-visible {
  box-shadow: 6px 0 12px #38c;
  border-color: #38c;
  outline: none;
}

#line_numbers {
  padding-top: 5px;
  width: 25px;
  text-align: right;
  border: 1px solid #ddd;
  border-right: none;
  background-color: #38c;
  color: white;
  margin-top: 1px;
}

#line_numbers span {
  display: block;
  padding-right: 0.5em;
}

#updater_elt_button {
  display: none;
}

.update_instructions li {
  padding-bottom: 0.5em;
}

#regular_update_instructions {
  display: block;
}

#python_update_instructions {
  display: none;
}

#updater_btn:disabled {
  cursor: default;
  color: grey;
  background-color: #e8e8e8;
}

#updater_btn:disabled :hover {
  background-color: #e8e8e8;
}

#e_audio {
  flex-grow: 1;
}

#add_audio_btn {
  display: flex;
}

#import_audio_btn {
  display: flex;
}

#remove_audio_btn {
  display: none;
}

#e_transpose_out {
  border-radius: 0;
  width: 3em;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

#e_key_div input + label {
  flex-grow: 1;
}

.spinner {
  background: white;
  padding-left: 1em;
  padding-right: 1em;
}
