@font-face {
  font-family: 'Inter Semi Bold';
  font-style: normal;
  src: local('Inter-SemiBold'), url(/html/fonts/Inter-SemiBold.otf) format('opentype');
}

@font-face {
  font-family: 'Ubuntu Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Ubuntu Condensed'), url(/html/fonts/Ubuntu-C.ttf) format('truetype');
}

@font-face {
  font-family: 'Quivira';
  font-style: normal;
  font-weight: 700;
  src: local('Quivira'), url(/html/fonts/Quivira.otf) format('truetype');
}

body {
  background-color: rgb(51, 51, 51);
  font-family: 'Ubuntu Condensed', 'Open Sans', sans-serif;
  overflow: hidden;
  margin: 0;
  padding: 6px;
  border-top: 6px solid red;
}

#songarea {
  height: 100vh;
  margin: 0 auto;
  padding: 0.95rem;
  padding-top: 0rem;
  font-size: 2.5rem;
}

#header {
  padding-bottom: 1rem;
  width: 95vw;
}

.chord-line {
  color: #d922d2;
  display: inline-block;
  position: relative;
  top: -2.5rem;
  width: 0px;
  margin-top: 0.5rem;
}

.lyric-line {
  color: white;
  display: block;
  margin: 2rem 0rem;
}

.next-chord-line {
  color: #999;
  display: inline-block;
  position: relative;
  top: -2.5rem;
  width: 0px;
  margin-top: 0.5rem;
}

.next-lyric-line {
  display: block;
  color: #999;
  margin: 2rem 0rem;
  font-size: 2rem;
}

.chord-chunk {
  font-family: 'Ubuntu Condensed', sans-serif;
  color: #d922d2;
  display: inline-block;
  position: absolute;
  top: -1rem;
  left: 0px;
  margin-top: 0.5rem;
  padding-right: 1rem;
}

.lyric-chunk {
  font-family: 'Inter Semi Bold', sans-serif;
  color: white;
  display: inline-block;
  margin: 2rem 0rem 0.5rem 0rem;
  white-space: pre-wrap;
  max-width: 66vw;
}

.lyric-chord-block{
  position:relative;
  margin-right: 0px;
  display: inline-block;
  max-width: 66vw;
}

.next-chord-chunk {
  font-family: 'Ubuntu Condensed', sans-serif;
  color: #999;
  display: inline-block;
  position: absolute;
  top: -1rem;
  left: 0px;
  margin-top: 0.5rem;
  padding-right: 1rem;
}

.next-lyric-chunk {
  font-family: 'Inter Semi Bold', sans-serif;;
  color: #999;
  display: inline-block;
  margin: 2rem 0rem 0.5rem 0rem;
  white-space: pre-wrap;
  max-width: 66vw;
}

.next-lyric-chord-block{
  position:relative;
  margin-right: 0px;
  display: inline-block;
  max-width: 66vw;
}

.next-midword-spacer {
  display: inline-block;
  color: #999;
  text-align: center;
}

.midword-spacer {
  display: inline-block;
  color: white;
  text-align: center;
}

.nonsong-block {
  font-family: 'Inter Semi Bold', sans-serif;;
  color: white;
  display: inline-block;
  margin: 0.5rem 0rem;
}

.nonsong-line {
  margin: 0.5rem 0rem;
}

.next-nonsong-block {
  font-family: 'Inter Semi Bold', sans-serif;;
  color: #999;
  display: inline-block;
  margin: 0.5rem 0rem;
}

span {
  white-space: pre;
}

#playedkey, #verseorder, #keyandcapo, #pres-controls {
  display: inline-block;
  height: 3rem;
}

#playedkey {
  font-size: 1.5rem;
  margin: 0px 5px;
  color: yellow;
}

#controlarea {
  max-width: 30vw;
  position: absolute;
  top: 4.5rem;
  bottom: 2%;
  left: 70%;
  right: 2%;
}

#musicarea {
  position: absolute;
  top: 4.5rem;
  left: 2%;
  bottom: 2%;
  right: 30%;
  overflow-y: auto;
}

#currentslide {
  max-width: 70vw;
}

#nextslide {
  max-width: 70vw;
}

.vert-button-25 {
  width:100%;
  height:21%;
  margin: 1%;
}

.vert-button-75 {
  width:100%;
  height:71%;
  margin: 1%;
}

.large-button {
  font-family: 'Ubuntu Condensed', 'Open Sans', sans-serif;
  font-size: 2rem;
  border: none;
  background-color: gray;
  color: white;
  text-align: center;
  text-decoration: none;
}

.large-button:active {
  background-color: darkmagenta;
}

.verse-button {
  font-family: 'Ubuntu Condensed', 'Open Sans', sans-serif;
  font-size: 2rem;
  height: 3rem;
  width: 6rem;
  border:none;
  background-color: gray;
  margin-right: 5px;
  color: white;
  text-align: center;
  text-decoration: none;
  line-height: 3rem;
}

.verse-button:active {
  background-color: darkmagenta;
}

.current-verse-button {
  background-color: #4CAF50 !important;
}

.menu-button {
  font-family: 'Quivira';
  font-size: 2rem;
  height: 3rem;
  width: 3rem;
  border: none;
  background-color: gray;
  color: white;
  text-align: center;
  text-decoration: none;
  line-height: 3rem;
}

.icon-bar {
  height: 0.25rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  padding-left: 0.1rem;
  padding-right: 0.1rem;
  background-color: white !important;
  display: block;
}

.icon-box {
  padding-left: 0.1rem;
  padding-right: 0.1rem;
  display: block;
  border: 0.25rem white solid;
  height: 0.8rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

.icon-options {
  font-family: 'Ubuntu Condensed', 'Open Sans', sans-serif;
  font-size: 2rem;
  margin-top: 0.45rem;
  margin-bottom: 0.45rem;
  display: block;
}

.non-song-title {
  font-family: 'Ubuntu Condensed', 'Open Sans', sans-serif;
  font-size: 2rem;
  color: white;
}

.menu-song-item {
  font-family: 'Ubuntu Condensed', 'Open Sans', sans-serif;
  font-size: 2rem;
  color: white;
  background: gray;
}

.menu-song-current-item {
  font-family: 'Ubuntu Condensed', 'Open Sans', sans-serif;
  font-size: 2rem;
  color: white;
  background: #4CAF50;
}

.menu-display-item {
  font-family: 'Ubuntu Condensed', 'Open Sans', sans-serif;
  font-size: 2rem;
  color: white;
  background: grey;
}

.pres-thumb {
  max-width: 90%;
  max-height: 90%;
}

.pres-two-thumb {
  margin-left: 2.5%;
  margin-right: 2.5%;
  max-width: 95%;
  max-height: 95%;
}

.two-image-div {
  width:50%;
  float:left;
}

.two-image-div p {
  color: #ffffff;
  font-size: 2rem;
}

.option-button {
  font-family: 'Ubuntu Condensed', 'Open Sans', sans-serif;
  height: 2.8rem;
  width: 23%;
  margin-bottom: 0.2rem;
  border:none;
  background-color: gray;
  color: white;
  text-align: center;
  text-decoration: none;
}

.option-button:active {
  background-color: darkmagenta !important;
}

.key-button {
  font-size: 2rem;
}

.capo-button {
  font-size: 2rem;
}

#music-options p {
  font-size: 1.5rem;
  color: white;
  margin-top: 0;
  margin-bottom: 10px;
}

#key-buttons {
  margin-bottom: 2rem;
}