@font-face {
  font-family: 'Inter Semi Bold';
  font-style: normal;
  src: local('Inter-SemiBold'), url(/html/fonts/Inter-SemiBold.otf) format('opentype');
}

@font-face {
  font-family: 'Ubuntu Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Ubuntu Condensed'), url(/html/fonts/Ubuntu-C.ttf) format('truetype');
}

:root {
  font-size: 32px;
}

p {
  line-height: 1.2;
}

body {
  background-color: rgb(20, 22, 29);
  font-family: 'Ubuntu Condensed', 'Open Sans', sans-serif;
  overflow: hidden;
}

@media (max-width: 768px) {
  :root {
    font-size: 10px;
  }
}

#songarea {
  max-width: 95%;
  height: 100vh;
  margin: 0 auto;
  padding: 0.25rem;
  font-size: 2.5rem;
}

#header {
  padding-bottom: 0.25rem;
  font-size: 2rem;
  float: right;
}

#currentslide {
  font-family: 'Inter Semi Bold', sans-serif;;
  color: white;
}

#currentslide p {
  margin: 0;
}

#nextslide {
  font-family: 'Inter Semi Bold', sans-serif;;
  color: #999;
}

#nextslide p {
  margin: 0;
}

#verseorder ul {
  display: inline;
  list-style-type: none;
  padding: 0;
}

#verseorder ul li {
  display: inline;
  color: white;
  margin: 0px 5px;
}

.current-verse {
  color: magenta;
}

#playedkey, #verseorder {
  display: inline;
}

#playedkey {
  margin: 0px 5px;
  color: yellow;
  font-weight: bold !important;
}

.pres-thumb {
  max-width: 90vw;
  max-height: 85vh;
}

#captureimage {
  display: none;
  position: absolute;
}

.vert-button-25 {
  width:100%;
  height:21%;
  margin: 1%;
}

.vert-button-75 {
  width:100%;
  height:71%;
  margin: 1%;
}

.large-button {
  font-family: 'Ubuntu Condensed', 'Open Sans', sans-serif;
  font-size: 2rem;
  border: none;
  background-color: gray;
  color: white;
  text-align: center;
  text-decoration: none;
}

.large-button:active {
  background-color: darkmagenta;
}

#imagearea {
  position: absolute;
  top: 4.5rem;
  bottom: 1%;
  left: 1%;
  right: 16%;
}

#controlarea {
  max-width: 15vw;
  position: absolute;
  top: 4.5rem;
  bottom: 2%;
  left: 85%;
  right: 2%;
}