@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: local('Raleway-Bold'), url(/html/fonts/Raleway-Bold.ttf) format('truetype');
}
  
body {
    margin: 0;
    overflow: hidden;
    background-color: #000000;
}

#main_area {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#loop_video {
    position: absolute;
    top: 0;
}

#video_item {
    position: absolute;
    top: 0;
}

#slide_area {
    position: fixed;
    top: 0;
    color: white;
    width: 80vw;
    margin-left: 10vw;
    margin-top: 10vh;
    font-family: 'Raleway';
    font-size: 10vh;
    text-shadow: rgb(0,0,0) 0.5vh 0.5vh 0px;
    text-align: center
}

#slide_area p {
    margin: 0;
}

sup {
    padding-right: 0.5em;
    font-size: 0.5em;
}