@font-face {
  font-family: "Inter Semi Bold";
  font-style: normal;
  src: local("Inter-SemiBold"), url(/html/fonts/Inter-SemiBold.otf) format("opentype");
}

@font-face {
  font-family: "Ubuntu Condensed";
  font-style: normal;
  font-weight: 700;
  src: local("Ubuntu Condensed"), url(/html/fonts/Ubuntu-C.ttf) format("truetype");
}

:root {
  font-size: 16px;
}

p {
  line-height: 1.2;
}

body {
  background-color: rgb(20, 22, 29);
  font-family: "Ubuntu Condensed", "Open Sans", sans-serif;
  overflow: hidden;
}

@media (max-width: 768px) {
  :root {
    font-size: 10px;
  }
}

#buttonarea {
  width: 100%;
  display: flex;
  gap: 0.5em;
  align-content: center;
  text-align: center;
  padding-bottom: 0.5em;
}

#buttonarea button {
  width: 11vw;
}

.cmd_button {
  display: flex;
  align-items: center;
  height: 2em;
  background-color: #f6f6f6;
  border-color: #ddd;
  color: #333;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 700;
  text-shadow: 0 1px 0 #f3f3f3;
  cursor: pointer;
}

.cmd_button:hover {
  background-color: #ededed;
}

.cmd_button:active {
  background-color: #e8e8e8;
}

.icon_button::after {
  content: "";
  background-repeat: no-repeat;
  background-position: 50% 50%;
  display: block;
  width: 100%;
  height: 100%;
}

.play_icon::after {
  background-image: url("/html/icons/icons8-play-24.png");
}

.stop_icon::after {
  background-image: url("/html/icons/icons8-stop-24.png");
}

.refresh_icon::after {
  background-image: url("/html/icons/icons8-rotate-right-24.png");
}

.toggle_icon::after {
  background-image: url("/html/icons/icons8-switch-on-24.png");
}

.next_list_icon::after {
  background-image: url("/html/icons/icons8-drag-list-down-24.png");
}

.prev_list_icon::after {
  background-image: url("/html/icons/icons8-drag-list-up-24.png");
}

.next_slide_icon::after {
  background-image: url("/html/icons/icons8-double-down-24.png");
}

.prev_slide_icon::after {
  background-image: url("/html/icons/icons8-double-up-24.png");
}

#songarea {
  position: absolute;
  top: 3.5rem;
  max-width: 95%;
  height: calc(100% - 7.5em);
  margin: 0 auto;
  padding: 0.25em;
  font-size: 2rem;
}

#currentitem {
  position: absolute;
  top: calc(100% - 4em);
  left: 0;
  width: 100%;
  background-color: #4caf50;
  color: black;
  font-size: 1.5em;
  height: 2em;
  line-height: 2em;
  padding: 0 1em;
}

#previtem {
  position: absolute;
  top: calc(100% - 6em);
  left: 0;
  width: 100%;
  background-color: #333;
  color: yellow;
  font-size: 1.5em;
  height: 2em;
  line-height: 2em;
  padding: 0 1em;
}

#nextitem {
  position: absolute;
  top: calc(100% - 2em);
  left: 0;
  width: 100%;
  background-color: #333;
  color: yellow;
  font-size: 1.5em;
  height: 2em;
  line-height: 2em;
  padding: 0 1em;
}

#currentslide {
  font-family: "Inter Semi Bold", sans-serif;
  color: white;
}

#currentslide p {
  margin: 0;
}

#nextslide {
  font-family: "Inter Semi Bold", sans-serif;
  color: #999;
}

#nextslide p {
  margin: 0;
}

sup {
  padding-right: 0.5em;
  font-size: 0.5em;
}
